Django>=2.2,<4.3
Sphinx>=3.3.0
phonenumbers>=7.0.2
django-phonenumber-field==6.1.0
twilio>=7
wheel>=0.22.0
setuptools>=65.5.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
